/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

a:link, a:visited
{
    color: #333399;
}

a.aboutlinks
{
    color: #A7C5DA;
}

a.toplinks
{
    color: #333399;
    text-decoration: none;
}

a:hover
{
    color: #5B005B;
    text-decoration: none;
}

a:active
{
    color: #333399;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000000;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 1000px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
    
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2.5em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.forum
{
    text-align:center;
    font-size:1.1em;
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    background-color:#D4D4AF;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}
.titleLogo
{
    padding-left:10px;
    display: block;
    float: left;
    text-align: left;
    vertical-align:middle;
}


.versionDisplay
{
    font-size: .9em;
    display: block;
    text-align: center;
   
    color: White;
    padding-top:0px;
}


.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}


table.tradetable
{
    font-size: 1.0em;
    width:750px;
	border-collapse:collapse;
	border-style:solid;
	border-width: 0px;
	border-color: #112e58;
	text-align:left;
	vertical-align:middle;
}

table.technologies
{ 
	font-size: 1.0em;
	border-collapse:collapse;
	border-style:solid;
	border-width: medium;
	border-color: #112e58;
	background-color: #ffffff;
	text-align:left;
	vertical-align:middle;
}

Table.TermsTableStyle
{
	
	width: 800px;
	color: #000000;
	border-right: #000000 2px solid; 
	border-left: #000000 2px solid; 
	border-top: #000000 2px solid; 
	border-bottom: #000000 2px solid; 
	border-collapse: collapse;
}

Table.MarketSummaryControlTableStyle
{
	border-collapse:collapse;
}

Table.MarketSummaryControlGainersLosersTableStyle
{
	border-collapse: collapse;
	border-right: #000000 1px outset;
	border-top: #000000 1px outset;
	border-left: #000000 1px outset;
	border-bottom: #000000 1px outset;
	background-color: #bbc6e4;
	width: 190px;
}

Table.OrderAlertTableStyle
{
    border-width: 2px;
	font-size:.9em;
	width: 700px;
	border-collapse:collapse;	
	text-align:center
}

Table.OrderConfirmTableStyle
{
	
	width: 700px;
	font-size: small;
	border-collapse:collapse;
}

Table.StockTradeTableStyle
{
 border-collapse:collapse;
 width:500px;
 background-color:#737D82;
 border-right: #949493 2px solid; 
 border-top: #949493 2px solid;
 border-left: #949493 2px solid;
 border-bottom: #949493 2px solid;
}

Table.QuotesTableStyle
{
	
	width: 700px;
	color: #000000;
	font-size:1.0em;
	border-collapse:collapse;
}

Table.PortfolioTableStyle
{
	
	width: 800px;
	color: #000000;
	font-size: small;
	border-collapse:collapse;
}

Table.AccountTableStyle
{
	
	width: 720px;
	border-right: #50525b 1px solid;
	border-top: #50525b 1px solid;
	border-left: #50525b 1px solid;
	border-bottom: #50525b 1px solid;
}

TH.InnerDataSubtotal
{
	font-size: 12px;
	background-color: #1c1c1a;
	color:#d4d8db;
	padding-right: 3px;
	border-right: #50525b 1px solid;
	border-top: #50525b 1px solid;
	border-left: #50525b 1px solid;
	border-bottom: #50525b 1px solid;
}

TH.InnerHeading2
{
	background-color: #000000;
	color:#d4d8db;
	font-size: .9em;
	text-align: center;
	border-right: #50525b 1px solid;
	border-top: #50525b 1px solid;
	border-left: #50525b 1px solid;
	border-bottom: #50525b 1px solid;
}

TH.InnerHeading3
{
	background-color: #000000;
	color:#d4d8db;
	font-size:1.0em;
	font-weight:normal;
	text-align: center;
	padding-left:6px;
	padding-right:6px;
	border-right: #50525b 1px solid;
	border-top: #50525b 1px solid;
	border-left: #50525b 1px solid;
	border-bottom: #50525b 1px solid;
}

TH.MarketSummaryHeader
{
	
	font-size: 12px;
	text-align: center;
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
	padding-left: 6px;
	padding-right: 6px;
}

TH.InnerHeading
{
	background-color: #000000;
	text-align: center;
	color:#C6C7C0;
	border-right: #50525b 2px solid;
	border-top: #50525b 2px solid;
	border-left: #50525b 2px solid;
	border-bottom: #50525b 2px solid;
	font-size:1em;
	font-weight:normal;
}

TH.MarketSummaryInnerHeading
{
	background-color: #23254d;
	font-size: 11px;
	text-align: center;
	border-right: #000000 1px outset;
	border-top: #000000 1px outset;
	border-left: #000000  1px outset;
	border-bottom: #000000  1px outset;
	padding-left: 4px;
	font-weight:normal;
	padding-right: 4px;
	color: #e1e1d9;
}

TD.AccountDataHeaderStyle1
{
	padding-right:3px;
	
	width: 136px;
	text-align:right;
}

TD.OrderConfirmMessageStyle
{
	color: #003f5f;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
}

TD.AccountDataLabelStyle1
{
	padding-left:3px;
	
	text-align:left;
}

TD.AccountDataHeaderStyle2
{
	padding-right:3px;
	
	text-align:right;
	width: 236px;
}

TD.AccountDataLabelStyle2
{
	 
	 text-align:left;
	 padding-left:3px;
}


TD.DataHeadersStyle
{
	text-align:right;
	padding-left: 5px;
	font-weight: normal;
	
	color: #000000;
	
}

TD.InnerData2
{
	font-size: 12px;
	background-color: #737D82;
	border-right: #50525b 1px solid;
	border-top: #50525b 1px solid;
	border-left: #50525b 1px solid;
	border-bottom: #50525b 1px solid;
	padding-right: 3px;
}


TD.OrderAlertMessageStyle
{
	color: #cc0000;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
}

TD.DataLabelsStyle
{
	text-align:left;
	padding-left: 5px;
	
	font-weight: normal;
	color: #000000;
	
}

TD.InnerData
{
	
	border-right: #50525b 1px solid;
	border-top: #50525b 1px solid;
	border-left: #50525b 1px solid;
	border-bottom: #50525b 1px solid;
	padding-right: 3px;
}

TD.MarketSummaryInnerData
{
	font-size: 11px;
	text-align: center;
	background-color: #7D7D7D;
	border-right: #000000  1px outset;
	border-top: #000000  1px outset;
	border-left: #000000  1px outset;
	border-bottom: #000000  1px outset;
	padding-left: 6px;
	padding-right: 6px;
}

TH.TradeConfigTHStyle
{
	border-top: #000000 1px solid;
	border-bottom: #000000 1px solid;
	border-right: #a0a1a2 1px solid;
	border-left: #414141 1px solid;
	border-collapse: collapse;
	background-color: #72768e;
	color: #d4d8db;
	font-weight:bold;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	vertical-align: middle;
	font-size:1.2em;
}

TD.MarketSummaryLeftSubHeader
{
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	background-color: #737D82;
	border-right: #50525b 1px solid;
	border-top: #50525b 1px solid;
	border-left: #50525b 1px solid;
	border-bottom: #50525b 1px solid;
	padding-left: 16px;
	padding-right: 16px;
}

TD.MarketSummaryGainerLoserHeader
{
	font-size: 9pt;
	text-align: center;
	vertical-align: middle;
	background-color: #737D82;
	padding-left: 16px;
	padding-right: 16px;
	border-right: #50525b 1px solid;
	border-top: #50525b 1px solid;
	border-left: #50525b 1px solid;
	border-bottom: #50525b 1px solid;
	padding-top: 8px;
}
TD.TradeTermsTDStyleLeft
{
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
	border-right:  #000000 1px solid;
	padding-bottom:6px;
	padding-top:6px;
	padding-right:6px;
	padding-left:6px;
	vertical-align:middle;
	text-align:right;
	font-weight:bold;
}

TD.TradeTermsTDStyleRight
{
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
	border-right:  #000000 1px solid;
	padding-bottom:6px;
	padding-top:6px;
	padding-left:6px;
    padding-right:6px;
	text-align:left;
	vertical-align:middle;
	text-align:left;
	
	
}

div.Invalid
{
	color: #A40707;
	text-align:center;
	padding-top:20px;
	padding-bottom:10px;
}

div.action
{
    font-size:1.2em;
    text-align:center;
}
